.about-me__photo {
	margin: 30px auto;
	height: 400px;
	background: url(../img/bg.png) no-repeat center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
}

.about-me__photo_img {
	width: 400px;
	border-radius: 10px;
	box-shadow: 0 5px 20px #333;
}

.about-me__vk {
	margin-top: 20px;
	font-size: 20px;
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid;
}

.about-me__vk:hover {
	border: none;
}

.about-me__description {
	margin: 0 200px 30px 200px;
	font-size: 25px;
}